<nav id="navbar-example2" class="navbar navbar-light bg-light px-3 sticky-top">
    <a class="navbar-brand" href="#">Alberto Eizaguerri Serrano</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#about">Sobre mí</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
    </ul>
    </nav>